.customInput,
.customSelect {
    box-sizing: border-box;
    height: 32px;
}

.invalidInput {
    border: solid 1px var(--vscode-errorForeground) !important;
    box-sizing: border-box;
}

.visibleInputError,
.invisibleInputError {
    line-height: 10px;
    font-size: 10px;
    height: 10px;
    color: var(--vscode-errorForeground);
    margin: 0;
    padding: 0;
}

.visibleInputError {
    visibility: visible;
}

.invisibleInputError {
    visibility: hidden;
}

.validatedInputWrapper {
    position: relative;
    width: 100%;
}

.argLabel > span {
    font-family: monospace;
    font-size: 0.9em;
}

.genericInputRow {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.genericInputInit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px !important;
    min-height: 32px !important;
    max-height: 32px !important;
}

.genericInputAction {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px !important;
    width: 32px !important;
    min-width: 32px !important;
    min-height: 32px !important;
    max-width: 32px !important;
    max-height: 32px !important;
}

.genericInputAction:disabled {
    background: var(--vscode-button-hoverBackground);
    cursor: not-allowed;
}

select.notFullWidth {
    width: unset !important;
    flex-grow: 1;
}

.icon {
    color: var(--vscode-button-foreground);
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
}

.icon :where(path, rect, circle, ellipse, polygon, g) {
    fill: currentColor;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
